
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
background-image:url() ;
background-position: center;
background-size: cover;
}

#mycanvas{
border: 10px dotted burlywood;
background-color: white;
}
